---

import Layout from "../layouts/layout.astro";
import Form from "../components/form.astro";
import SecCardInfo from "../components/sections/secCardInfo.astro";

import json from '../services/data/infoPage.json'

---

<Layout title="CONTACTO - Ecoimpuestos">
    <div class="w-full min-h-screen">

        <!-- start section contacto -->
        <div class="w-full h-60 bg-gray-700 grid place-content-center mb-10">
            <h2 class="font-bold text-5xl text-white ">{json.contacto.titleContacto.title}</h2>
        </div>
        <!-- end section contacto -->

        <!-- start section cards   -->
        <SecCardInfo infoCard = {json.contacto.infoCards}
        />
        <!-- end section cards  -->


        <!-- start section form -->
        <div class="container mx-auto flex flex-col justify-center items-center gap-5 lg">

            <h2 class="text-twoTitleColor text-4xl font-bold md:text-5xl md:mb-10 lg:text-6xl">{json.contacto.form.title}</h2>
        
            <div class="w-full h-auto flex flex-col justify-center items-center lg:flex-row">
                    <Form supParagraph = {json.contacto.form.supParagraph}
                         titleFrom = {json.contacto.form.titleFrom}
                    />
            
                    <div class="w-[95%] h-96">
                        <img class="w-full h-full" src="imgs/contact-img.png" alt="">
                    </div>
            </div>
        </div>

        <!-- end section form -->

    </div>
</Layout>