---

import Layout from '../layouts/layout.astro'
import Card from '../components/card.astro';
import InfoBtnImg from '../components/infoBtnImg.astro';
import InfoImgGraph from '../components/infoImgGraph.astro';
import SecHandleServices from '../components/sections/secHandleServices.astro';
import SecNumServicesOffer from '../components/sections/secNumServicesOffer.astro';
import json from '../services/data/infoPage.json'

---

<Layout title="Ecoimpuestos">
    <div class="w-auto h-auto min-h-screen">

        <!-- start section video -->
        <div class="flex justify-center w-full h-screen">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7YZCUpnaTfg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <!-- end section video -->


        <!-- start section info law -->
        <div class="container mx-auto w-full h-auto flex py-10 gap-10 justify-evenly items-center flex-wrap mb-10 md:gap-15">

            {
                json.infoIndex.infoLeyes.map( info => (
                    <Card title = {info.title}
                        paragraph = {info.paragraph}
                    />
                ) )
            }

        </div>
        <!-- end section info law -->


        <!-- start section info services -->
        <div class="container mx-auto w-full h-auto mb-16">

            <InfoBtnImg  title = {json.infoIndex.infoServices[0].title}
                paragraph = {json.infoIndex.infoServices[0].paragraph}
                textBtn = {json.infoIndex.infoServices[0].textBtn}
                imageUrl = {json.infoIndex.infoServices[0].imageUrl}            
            />

            <InfoImgGraph  title = {json.infoIndex.infoServices[1].title}
                paragraph = {json.infoIndex.infoServices[1].paragraph}
                imageUrl = {json.infoIndex.infoServices[1].imageUrl}
                percentages = {json.infoIndex.infoServices[1].percentages}
                imgRight = {json.infoIndex.infoServices[1].imgRight}
            />

        </div>
        <!-- end section info services -->


        <!-- start section handle services -->
        <SecHandleServices title = {json.infoIndex.handleServices.title}
            supParagraph = {json.infoIndex.handleServices.supParagraph}
            jsonInfoHandleServices = {json.infoIndex.handleServices.services}
        />
        <!-- end section handle services -->


        <!-- start section number services offer -->
       <SecNumServicesOffer servicesOffer= {json.infoIndex.servicesOffer}
       />
        <!-- end section number servies offer  -->

    </div>
</Layout>
